<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        max-width: 1050px;
        max-height: 700px;
    }
    #zajem {
        width: 350px;
    }
    tr {
        height: 65px;
    }
    table {
        vertical-align: middle;
        font-size: 22px;
        width: 1050px;
        text-align: center;
    }
</style>
<body>
    <div id="tabulka">
        {{data | safe}}
    </div>
</body>
</html>